//Delay variable
$delay: 0.15s;

.card {
  position: relative;

  img {
    width: 35px;
    height: 45px;
    display: block;
    border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
  }

  .front {
    position: absolute;
    transform: rotateY(90deg);
    transition: all ease-in $delay;
  }

  .back{
    transition: all ease-in $delay;
    transition-delay: $delay;
  }
}

.flipped {
  .front {
    transform: rotateY(0deg);
    transition-delay: $delay;
  }

  .back{
    transform: rotateY(90deg);
    transition-delay: 0s;
  }
}